/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/SEGOEUI.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1;
    font-family: 'Segoe UI', sans-serif;    
    margin:0px auto; 
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{text-decoration: none:;}
*{
    box-sizing: border-box;
    -mopz-box-sizing: border-box;
}
.wrapper{
    width: 90px;
}
.content{
    background: none repeat scroll 0 0 #eeefef;
    padding: 1px 300px;    
    height: 100%;
}
.calc li{
    float: left;
    border: none;
}

.logo img{
    margin-left: 20%;
    margin-top: 10px;
}

nav {
    color: #2E416B;
    float: right;
    margin-left: 46%;
    margin-right: 20%;
    margin-top: -47px;
    position: absolute;
}

nav li{
    display: inline;
    margin-right: 58px;
    cursor: pointer;
}

nav li:hover{
    color: #e68954;
}


.search{
    background-image: url('images/background_search.png');
    height: 416px;
    margin-top: 15px;
}

.text_search{
    font-size: 36px;
    text-align: center;
    color: white;
    padding-top: 90px;
}

.form_seach{
    padding-top: 60px;
    text-align: center;
    position: relative
}
.input_search{
    background: none repeat scroll 0 0 #4877C0;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 26px;
    height: 70px;
    padding-left: 30px;   
    width: 473px;
    border: 1px solid;
}

.div_search{
     left: 60%;
    position: absolute;
    top: 66px;
}
 .button_search{
    background: none repeat scroll 0 0 #8CA3CE;
    background-image: url('images/lupa.png') ;
    background-repeat:no-repeat;
    background-position:center; 
    border-radius: 5px 5px 5px 5px;
    height: 60px;
    width: 70px;    
    border: none;
 }
.button_search, .button_career_first, .button_career_description, .button_career_times{
     cursor: pointer;
}

.twitters{
    text-align: center;
    margin: 45px;
}
.twitt_text{
    margin: 50px 320px;
    color:#5186d9;
    font-size: 22px;
    text-align: center ;
}
.twitt_date{
    color:#e06217;
    font-size: 12px;
    margin-top: 15px;
}

.career{
    width: 457px;
    height: 320px;
    margin-top: 40px; 
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
    border-radius: 5px 5px 5px 5px;
}

.career li {
    display: inline;
}
.content_career{
    height: 215px;

}
.button_career_first{    
    background: url("images/copa.png") no-repeat scroll center center #B0BCCF;
   -moz-box-sizing: border-box;
 color: #FFFFFF;
    display: inline-block;
    height: 110px;
    padding-top: 91px;
    position: relative;
    text-align: center;
    width: 149px;
   
}

.text_button_career{
      color: #FFFFFF;
    text-align: center;
    margin-top: 90px;
}

.button_career_first:hover{
    background: url("images/copa.png") no-repeat scroll center center #5186d9;    
}

.button_career_description{    
    background: url("images/description.png") no-repeat scroll center center #b0bccf;
    -moz-box-sizing: border-box;
   color: #FFFFFF;
    display: inline-block;
    height: 110px;
    padding-top: 91px;
    position: relative;
    text-align: center;
    width: 150px;
}

.button_career_description:hover{
    background: url("images/description.png") no-repeat scroll center center #5186d9;    
}

.button_career_times{    
    background: url("images/times.png") no-repeat scroll center center #b0bccf;
   -moz-box-sizing: border-box;
     color: #FFFFFF;
    display: inline-block;
    height: 110px;
    padding-top: 91px;
    position: relative;
    text-align: center;
    width: 149px;  
}

.button_career_times:hover{
    background: url("images/times.png") no-repeat scroll center center #5186d9;    
}

.border_left{
    border-radius: 0px 0px 0px 5px;  
}

.border_right{
    border-radius: 0px 0px 5px 0px;  
}

.view_carrier{
    background: none repeat scroll 0 0 #b0bccf;
    width: 150px;
    height: 110px;


}

.content_more{
    margin: 60px 0px;    
    text-align: center;    
}
.load_more{
    background:#5186d9;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    height: 70px;
    width: 270px;
    z-index: 9999;
    color: white;
    font-size: 20px;
}


.footer{    
    padding: 1px 300px;    
    height: 100%;
}

.div_footer{
    width: 45%;
    margin-top: 40px; 
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
    border-radius: 5px 5px 5px 5px;
}

.square_fooder{
    display: inline-block;
    background: none repeat scroll 0 0 #b0bccf;
    width: 114px;
    height: 114px;
    border-radius: 5px 5px 5px 5px;    
}

.fixed{
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    width: 20%;
    text-align: justify;
}
.title{
    display: block;    
    color: #5186d9;
}
.text_footer{            
     color: #7a7b7d;
     font-size: 15px;
}
.input_form{    
    background: none repeat scroll 0 0 #B0BCCF;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    margin-top: 10px;
    width: 39%;
}
.name{
   width: 100%;
}

#guardar{
    background: url("images/button_save.png") no-repeat scroll center center #5186d9;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    height: 48px;
    margin-top: 11px;
    position: absolute;
    width: 55px;
 }